body{
    background-color: #F4EDD3;
    margin: 1px;
}
body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

.navbarContainer{
    display: flex;
    justify-content: space-between;
    background-color: #4C585B;
    height: 4rem;
    padding: 1.2rem;
}
.nav-links{
    color: #F4EDD3;
    margin: 1rem;
    text-decoration: none;
    font-size: 1.2rem;  
}

.nav-links:hover{
    color: #93a5a9;
    border-radius: 10px;
}

.footer{
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 6px;
    display: flex;
    justify-content: space-around;
    height: 100%;
    
}


.banner-container{
    background-color: rgb(169, 169, 237);
    height: 20rem;
    width: auto;
    margin: 1rem;
    padding-top: 1rem;
    border-radius: 2rem;
    color: white;
    background-image: url('./Images/BannerBg.jpg');
    background-size: cover;
    background-position: center;
}
.Banner-bgText{
    margin-left: 35rem;
}

.banner-tgline{
    font-size: 44px;
    margin-top: 1rem;
    font-family: "Iansui", cursive;
  font-weight: 400;
  font-style: normal;
}

.banner-tgline2{
    font-size: 24px;
    font-family: "Iansui", cursive;
  font-weight: 400;
  font-style: normal;
}


.about-us-container {
    text-align: center;
}
.about-intro h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.about-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}
.about-card {
    background: #f8f9fa;
    border-radius: 20px;
    height: 12rem;
    width: 30rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.about-card h2{
    height: 30px;
    margin: 2px;
    margin-bottom: 10px;
}

